<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Ninjas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Lista de Ninjas</h1>

<a class="btn btn-add" th:href="@{/ninjas/ui/adicionar}">Adicionar Novo Ninja</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Idade</th>
        <th>Missões</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja : ${ninjas}">
        <td th:text="${ninja.id}">ID</td>
        <td th:text="${ninja.nome}">Nome</td>
        <td th:text="${ninja.email}">Email</td>
        <td th:text="${ninja.rank}">Rank</td>
        <td th:text="${ninja.idade}">Idade</td>
        <td>
            <span th:if="${ninja.missoes}">
                Nome: <span th:text="${ninja.missoes.nome}"></span>,
                Dificuldade: <span th:text="${ninja.missoes.dificuldade}"></span>
            </span>
            <span th:if="${ninja.missoes == null}">Sem Missões cadastradas</span>
        </td>
        <td class="actions">
            <a class="btn btn-view"
               th:href="@{/ninjas/ui/detalhes/{id}(id=${ninja.id})}">
                Ver detalhes
            </a>
            <a class="btn btn-edit"
               th:href="@{/ninjas/ui/editar/{id}(id=${ninja.id})}">
                Alterar
            </a>
            <a class="btn btn-delete"
               th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}">
                Deletar
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
